@model UserOrderModel
@{
}
<div style="width:100%" class="mt-2">
    <div class="row">
        <div class="col-2">
            <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>
            <h4>My Orders</h4>
        </div>
        <div class="col-10 text-right m-auto">
            <h4 class="text-info">Total Spent: @Math.Round(Model.Orders.Where(o=>o.IsPaid == true).Select(o => o.TotalPrice).Sum(), 2)</h4>
            <h5 class="text-decoration-underline text-primary-emphasis">Member rank : @Model.Rank.ToString()</h5>
        </div>
    </div>

    
    @if (Model.Orders != null && Model.Orders.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>OrderDate</th>
                <th>OrderStatus</th>
            </tr>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                </tr>
                @if (order.OrderDetails != null && order.OrderDetails.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        Total:
                                    </td>
                                    <td>
                                        @(order.TotalPrice)

                                    </td>
                                </tr>
                                <tr>
                                    <th>Book</th>
                                    <th>Image</th>
                                    <th>Genre</th>
                                    <th>Unit Price(INR)</th>
                                    <th>Total Price</th>
                                </tr>
                                @foreach (var item in order.OrderDetails)
                                {
                                    <tr>
                                        <td>@item.Book.Name</td>
                                        <td>
                                            @if (item.Book.Image == null && string.IsNullOrEmpty(item.Book.ImageMime))
                                            {
                                                <img src="~/images/noImage.jpg" alt="Book Image" style="width:80px;height:100px" />
                                            }
                                            else
                                            {
                                                string imageBase64 = Convert.ToBase64String(item.Book.Image);
                                                string imageSrc = $"data:{item.Book.ImageMime};base64,{imageBase64}";
                                                <img src="@imageSrc" alt="Book Image" class="img-thumbnail" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.Book.Genre.GenreName</td>
                                        <td>@item.Book.Price X @item.Quantity</td>
                                        <td> @(item.Book.Price * item.Quantity) </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h5>No orders</h5>
    }
</div>




