@model PaginatedList<Book>
@{
    List<Genre> Genres =(List<Genre>) ViewData["Genres"];
    var genreId = (int)ViewData["genreId"];
}
<div class="container my-4">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">


        <div class="col-12">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Genres)
                {
                    <option selected="@(genre.Id == genreId)" value="@genre.Id">@genre.GenreName</option>
                }
            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by Title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@ViewData["CurrentFillter"]" id="sterm" name="sterm" placeholder="Search by Title">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Home/Index" class="btn btn-outline-dark">Reset</a>
        </div>
    </form>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (var book in Model)
        {
            <div class="col">
                <div class="card book-card h-100">
                    @{
                        if(book.Image == null && string.IsNullOrEmpty(book.ImageMime))
                        {
                            <img src="~/images/noImage.jpg" alt="Book Image" class="img-thumbnail" />
                        }
                        else
                        {
                            string imageBase64 = Convert.ToBase64String(book.Image);
                            string imageSrc = $"data:{book.ImageMime};base64,{imageBase64}";
                            <img src="@imageSrc" alt="Book Image" class="img-thumbnail" />                          
                        }

                    }
                    
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@book.Name</h5>
                        <p class="card-text">
                            <b>Genre: </b>@book.GenreName <br />
                            <b>Author: </b>@book.Author <br />
                            <b>Price: </b>@book.Price
                        </p>
                        <div class="mt-auto">
                            @if (book.Quantity > 0)
                            {
                                <button type="button" onclick="add(@book.Id)" class="btn btn-primary w-50">Add to cart</button>
                            }
                            else
                            {
                                <span class="badge bg-danger text-wrap">Out of stock</span>
                            }
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-info">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="mt-4 row-gap-xxl-5">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary  @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary  @nextDisabled">
        Next
    </a>
</div>

@section Scripts {
    <script>
        async function add(bookId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
            }
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
    <style>
        .book-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    </style>
}