@model CartMemberModel
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto" class="mt-2">
    @if (Model.carts != null && Model.carts.CartDetails != null && Model.carts.CartDetails.Count > 0)
    {
        <h5>My Cart</h5>

        <table class="table table-striped">
            <tr>
                <th>Book</th>
                <th>Image</th>
                <th>Genre</th>
                <th>Unit Price(usd)</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.carts.CartDetails)
            {
                <tr>
                    <td>@item.Book.Name</td>
                    <td>
                       
                        @if (item.Book.Image != null && item.Book.ImageMime != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.Book.Image);
                            string imageSrc = $"data:{item.Book.ImageMime};base64,{imageBase64}";
                            <img src="@imageSrc" alt="Book Image" class="img-thumbnail" style="width:80px;height:100px" />
                        }
                        else
                        {
                            <img src="~/images/noImage.jpg" alt="Book Image" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@(item.Book.Genre != null ? item.Book.Genre.GenreName : "Unknown Genre")</td>
                    <td>@item.Book.Price X @item.Quantity</td>
                    <td>@(item.Book.Price * item.Quantity)</td>
                    <td>
                        @* Increase Quantity button should be invisible if not enough stock *@
                        @if (item.Book.Stock != null && item.Quantity < item.Book.Stock.Quantity)
                        {

                            <a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&&redirect=1">+</a>
                        }
                        else
                        {
                            <span style="border: 1px solid;padding: 8px 8px;color: red;border-radius: 5px;margin-right:4px">Out of stock </span>
                        }
                        @* Decrement button *@
                        <a class="btn btn-info" href="/cart/removeitem?bookid=@item.BookId">-</a>
                    </td>
                </tr>
            }
        </table>

        var total =Math.Round(Model.carts.CartDetails.Select(item => item.Book.Price * item.Quantity).Sum(),2);
        double discount = 0;
        if(ViewData["Discount"]!=null)
        {
            discount = (double)ViewData["Discount"];
        }
        total = total*(1-Model.MemberDiscount)*(1-discount) ;
        <div class="row w-100">
            <div class="my-2 col-1 w-50">
                <div class="discount-container">
                    <div class="original-price">
                        <span class="label">Original Price:</span>
                        <span class="value">$@Model.carts.CartDetails.Select(item => item.Book.Price * item.Quantity).Sum()</span>
                    </div>
                    <div class="discount-price">
                        <span class="label">Member Discounted Price:</span>
                        <span class="value">$@total</span>
                        <span class="reason">(@(discount*100)% off with coupon and @(Model.MemberDiscount*100)% off with Member discount)</span>
                    </div>
                </div>


            </div>
            <div class="col-1 w-50">
                <form asp-action="GetDiscount">
                    <span class="text-danger">@ViewData["DcMessage"]</span>
                    <input name="code" id="code"/>
                    <button type="submit" class="btn btn-outline-primary">Apply</button>
                </form>
               
            </div>
        </div>
        <div class="my-2">
            <form asp-action="Checkout">
                <input type="hidden" id="totalPrice" name="totalPrice" value="@total" />
                <button type="submit" class="btn btn-primary">Checkout</button>
            </form>
        </div>

    }
    else
    {
        <h5>Cart is empty</h5>
    }
</div>
<style>
    .discount-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .original-price {
        text-decoration: line-through;
    }

    .discount-price {
        display: flex;
        align-items: center;
    }

    .label {
        margin-right: 10px;
    }

    .value {
        font-size: 1.2em; /* Adjust font size as needed */
    }

    .reason {
        font-size: 0.8em; /* Adjust font size as needed */
        margin-left: 10px;
        color: #888; /* Adjust color as needed */
    }

    .text-danger {
        color: red;
    }

</style>
